.app.dark {
  --bg-color: #322d2d;

  --primary-color: #e2e4e6;
  --secondary-color: #9e9ea1;

  // navbar
  --navbar-bg-color: #ffffff;
  --navbar-color: #131313;

  // links
  --link-color: #215095;

  // buttons
  --button-bg-color: #424141;

  // sidebar
  --sidebar-bg-color: #ffffff;
  --sidebar-color: #131313;
}