.app.light {
  --bg-color: #ffffff;

  --primary-color: #131313;
  --secondary-color: #424141;

  // navbar
  --navbar-bg-color: #322d2d;
  --navbar-color: #e2e4e6;

  // links
  --link-color: #3d94ff;

  // buttons
  --button-bg-color: #424141;

  // sidebar
  --sidebar-bg-color: #322d2d;
  --sidebar-color: #e2e4e6;
}